<% project = locals[:project] %>

<header>
  <h1><%= project[:client] %></h1>
  <p>
    <%= project[:description] %>
    <a href="<%= project[:url] %>" target="_blank"><%= project[:url].gsub('http://', '') %></a>
  </p>
</header>

<div class="project-case">
  <% project[:showcase_images].each do |image| %>
    <img src="<%= image %>">
  <% end %>
</div>

<footer>
  <div class="link">
    <%= link_to "Se fler projekt", "/" %>
  </div>

  <div class="contact-details">
    <ul>
      <li><a href="mailto:hej@samuellie.se">hej@samuellie.se</a></li>
      <li>+46 709 82 92 51</li>
    </ul>
  </div>
</footer>
